body{
	background-color: yellow;
}

#house {
  background: pink;
  display: inline-block;
  height: 55px;
  margin-left: 1230px;
  margin-top: 30px;
    position: relative;
    width: 100px;
    transform: scale(0.5);
}

#house:before {
  border-bottom: 35px solid pink;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -35px;
  width: 0;
}

h1{
	font-family: 'Anton', sans-serif;
	font-size: 140px;
	text-align: center;
	color: white;
	position: fixed;
	margin-left: 500px;
	margin-top: 50px;
}

h2{
	font-family: 'Anton', sans-serif;
	font-size: 80px;
	text-align: center;
	color: white;
	margin-top: 300px;
}

.real{
	text-decoration: none;
	color: white;
}

.real:hover {
	background: rgba(0,0,0,0);
	color: yellow;
}