body{
	background-color: yellow;
}	

#house {
  background: pink;
  display: inline-block;
  height: 55px;
  margin-left: 1230px;
  margin-top: 30px;
    position: relative;
    width: 100px;
    transform: scale(0.5);
}

#house:before {
  border-bottom: 35px solid pink;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -35px;
  width: 0;
}

h1{
	font-family: 'Anton', sans-serif;
	font-size: 140px;
	text-align: center;
	color: white;
	margin-top: 50px;
}

h2{
	font-family: 'Anton', sans-serif;
	font-size: 50px;
	text-align: center;
	color: white;
	margin-top: 10px;
	margin-left: -50px;
}

.star {
	margin: 50px 0;
   position: relative;
   display: block;
   color: red;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid white;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
   transform: scale(0.6);
}
.star:before {
	border-bottom: 80px solid white;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}
.star:after {
	position: absolute;
   display: block;
   color: red;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid white;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

.star:hover{
	-webkit-animation: spin 4s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}

.star{
	margin-left: 150px;
	margin-top: 10px;
}

 #order1 {
  float: left;
  width: 8px;
  background-color: yellow;
  
  
}
#order2 {
  float: right;
  width: calc(100% - 10px);
  background-color: yellow;
 }

li{
    list-style-type: none;

}



 
