*{
	font-family: 'Anton', sans-serif;
}

body{
	background: yellow;
}

h1{
	font-family: 'Anton', sans-serif;
	font-size: 30px;
	text-align: center;
	color: white;
	font-size: 100px;
}

a{ text-decoration: none; }

.item{
	color: white;
}

