*{
	font-family: 'Frank Ruhl Libre', sans-serif;
}

@font-face{
	font-family: 'RegularDidot';
	src: url(TheanoDidot-Regular.ttf);
}

@media (max-width: 599px) {
  .mobile{
  display: flex;
  flex-direction: column;
  list-style: none;
  }  
}

@media (max-width: 599px){
	h1{
		font-family: 'RegularDidot', sans-serif;
		font-size: 60px;
		margin-left: 30px;
		margin-top: -30px;
	}

	img{
		margin-top: 0px;
		vertical-align: text-top;
	}

	h2{
		margin-left: 230px;
		margin-top: -60px;
		font-size: 32px;
		font-family: 'RegularDidot', sans-serif;
	}

	a{
		text-decoration: none;
		font-family: 'RegularDidot', sans-serif;
		color: black;
		
	}

	.home{
		margin-left: 350px;
	}

	.image{
		margin-left: 15px;
	}

	.trailer{
		margin-left: 60px;
		width: 200px;
    	border: 1px solid black;
    	padding: 30px;
    	margin-top: 0px;
    	text-align: center;
    	font-size: 25px;
    	font-family: 'RegularDidot', sans-serif;

	}

	.sinopse{
		margin-left: 60px;
		width: 240px;
    	border: 1px solid black;
    	padding: 10px;
    	margin-top: 20px;
    	text-align: center;
    	font-size: 17px;
	}

	.critics{
		margin-left: 60px;
		width: 200px;
    	border: 1px solid black;
    	padding: 30px;
    	margin-top: 20px;
    	text-align: center;
    	font-size: 25px;
    	font-family: 'RegularDidot', sans-serif;
	}

}